<h1>
  List of Directors
</h1>

<hr>

<div>
  
</div>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
      DOB
    </th>

    <th> 
      Films
    </th>

    <th>
    </th>
  </tr>

  
</table>
